apache-airflow[celery,postgres,redis,pandas,ssh]==2.7.2
-c https://raw.githubusercontent.com/apache/airflow/constraints-2.7.2/constraints-3.8.txt
matplotlib
pillow
seaborn
tqdm
beautifulsoup4
jupyter

# for spellchecker
nltk
tokenizers
pyahocorasick
marisa-trie
scikit-learn==1.3.2
# spellchecker end

python-slugify[unidecode]
apache-airflow-client

# for cli commands
click
opencv-python~=4.8.0.74
pytesseract
# cli commands end

pysnooper

black[jupyter]
isort