# Настройки языка и алфавита
% tessedit_char_whitelist ІӀӏI АБВГДЕЁЖЗИЙКЛМНОПРСТУФХЦЧШЩЪЫЬЭЮЯабвгдеёжзийклмнопрстуфхцчшщъыьэюя1234567890.,:;!?()-[]{}'"<>«»„“”‘’/|\@#$%^&*_+=
tessedit_char_whitelist ІӀӏI АБВГДЕЁЖЗИЙКЛМНОПРСТУФХЦЧШЩЪЫЬЭЮЯабвгдеёжзийклмнопрстуфхцчшщъыьэюя1234567890.,:;!?()-[]{}'"<>«»„“”‘’/|\@#$%^&*_+=
tessedit_pageseg_mode 8

tessedit_create_boxfile 1

tessedit_ocr_engine_mode 2

# Путь к пользовательскому словарю
# user_words_suffix custom.dictionary.txt

# Отключить стандартный словарь
# load_system_dawg F
# load_freq_dawg F
# load_bigram_dawg F

tessedit_bigram_debug 1
language_model_ngram_on 0
language_model_debug_level 0

# через конфиг нельзя передать, нужно чтобы лежал внутри .traineddata
# unicharambigs kbd.unicharambigs

# добавить пенальти для слов не из словаря
# пока не подобрал оптимальное значение
language_model_penalty_non_freq_dict_word 0.2
# добавить пенальти для слов из словаря (0.7 - 0.8 прям хорошо)
language_model_penalty_non_dict_word 0.8

# дебаг поиска слов
output_ambig_words_file /Users/panagoa/tesseract/ambig.txt